.tagline {
  font-family: "Quicksand";
  font-size: 20px;
  color: floralwhite;
  text-shadow: 1px 1px 2px black;
}

h1, h2, h3 {
  font-family:  "Quicksand";
  color: floralwhite;
  text-shadow: 1px 1px 2px black;
}
#SmallerH3 {
  font-size: 24px;
}
h4 {
  font-family:  "Quicksand";
  color: floralwhite;
  text-shadow: 1px 1px 2px black;
  font-size: 18px;
}

.box {
  border-style: hidden;
  border-color: black;
  border-width: 1px;
  /*background-image: linear-gradient(to left, whitesmoke, lightsteelblue 70%, lightslategray);*/
}

#Headshot {
  padding: 0 0 0 0;
  filter: grayscale(50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 100%;
  height: auto;
}

html {
  height: 100%;
}

p {
  font-size: 20px;
  font-family: Playfair Display;
  color: floralwhite;
  text-shadow: 1px 1px 2px black;
  /*background-image: linear-gradient(to top, rgba(4, 133, 221, 0.18), rgba(148, 147, 154, 0.72));*/
  border-radius: .3rem;
}

.smallerP {
  font-size: 16px;
  font-family: Playfair Display;
  color: floralwhite;
  text-shadow: 1px 1px 2px black;
  /*background-image: linear-gradient(to top, rgba(4, 133, 221, 0.18), rgba(148, 147, 154, 0.72));*/
  border-radius: .3rem;
}


.pianoBackground {
  background: linear-gradient(to top, rgba(78, 189, 199, 0.5), rgba(2, 12, 13, 0.66)), url("./resources/images/piano-pic-medium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100vh;*/
  background-attachment: fixed;
  background-position: center;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
}




li {
  color: floralwhite;
  font-size: 18px;
  list-style: none;
}

.icon {
  font-size: 36px;
  color: floralwhite;

}
.footerText {
  font-family: Quicksand;
  font-size: 16px;
  color: floralwhite;
}

.center {
  text-align: center;
}

.carouselTitle {
  font-family: Playfair Display;
  color: floralwhite;
  text-shadow: 1px 1px 2px black;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  background-size: 50%;
  width: fit-content;

}
.carouselCaption {
  font-family: Playfair Display;
  color: floralwhite;
  font-size: 18px;
  font-style: bold;
  text-shadow: 1px 1px 2px black;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(45, 65, 125, 0.99), transparent);
  max-width: 50%;
}
.carouselBackground {
  text-shadow: 1px 1px 2px black;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.link {
  font-size: 20px;
  font-family: Playfair Display;
  color: lightsteelblue;
  text-shadow: 1px 1px 2px black;
  /*background-image: linear-gradient(to top, rgba(4, 133, 221, 0.18), rgba(148, 147, 154, 0.72));*/
  border-radius: .3rem;
}

#HomeButtonLink {
  font-size: 20px;
  font-family: Playfair Display;
  color: lightseagreen;
  text-shadow: 1px 1px 2px black;
  border-radius: .3rem;
}

#MusicButtonLink {
  font-size: 20px;
  font-family: Playfair Display;
  color: burlywood;
  text-shadow: 1px 1px 2px black;
  border-radius: .3rem;
}

#TechButtonLink {
  font-size: 20px;
  font-family: Playfair Display;
  color: powderblue;
  text-shadow: 1px 1px 2px black;
  border-radius: .3rem;
}

#ContactButtonLink {
  font-size: 20px;
  font-family: Playfair Display;
  color: forestgreen;
  text-shadow: 1px 1px 2px black;
  border-radius: .3rem;

}

#TechButtonLink:hover, #MusicButtonLink:hover, #HomeButtonLink:hover, #ContactButtonLink:hover {
  font-size: 20px;
  font-family: Playfair Display;
  color: blue;
  text-shadow: 1px 1px 2px black;
  border-radius: .3rem;
}

#NavBackground {
  background-image: linear-gradient(to top, rgba(4, 133, 221, 0.18), rgba(148, 147, 154, 0.72));
  width: 37%;
}

video {
  border-radius: 15px;
  width: 85%;
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 50px;
  right: 50px;
  text-align: center;
}

/*

rgba(24, 71, 45, 0.23), rgba(10, 7, 0, 0.65)
rgba(201, 224, 164, 0.82), rgba(98, 51, 21, 0.36)
rgba(245, 245, 245, 0.23),rgba(112, 128, 144, 0.56)
rgba(13, 0, 120, 0.95) 1%, rgba(148, 147, 154, 0.51)
(to top, rgba(4, 133, 221, 0.18), rgba(148, 147, 154, 0.72))
(to top, rgba(4, 133, 221, 0.1), rgba(148, 147, 154, 0.3))
*/
